@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content">
    <div class="text-center">
        <h2>Welcome to</h2>

        <img class="logo" src="images/Power2You logo.png" /> <!--Styling for logo-->
        <br />
        <br />
        <p class="text-left">Hello and welcome to Power II U. We will satisfy all your computing needs, we sell keyboards, mouses, monitors, webcams, printers, ink ethernet cables and even offer pre-build PCs at great prices. We also have a range of offers.</p>
    </div>
    <div class="text-left">
        <h3>Our current offers include:</h3>
        
        <ul>
            <li>Adding your phone number to your account and agreeing to recieve offers and upcoming deals meaning that
            you will occassionally get sent coupon codes that you can redeem for discounts at checkout.</li>
        </ul>
   </div>
</div>
