body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*img sizes for products*/
.img-products {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.layout-products {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 768px) {
    .layout-products {
        float: left;
    }
}